name: deploy-docker
on:
  workflow_call:
    inputs:
      debug:
        type: boolean
        default: false
      workdir:
        type: string
        default: "."
      app_name:
        type: string
        default: ${{ github.event.repository.name }}
      app_version:
        type: string
        default: ""
      compose_filename:
        type: string
        required: false
        default: docker-compose.yaml
      ssh_host:
        type: string
        required: true
      ssh_port:
        type: string
        required: true
      ssh_user:
        type: string
        required: true
      registry_host:
        type: string
        required: false
      registry_user:
        type: string
        required: false
      pre_script:
        type: string
        required: false
      dotenv:
        type: string
        required: false

    secrets:
      ssh_key:
        required: true
      registry_password:
        required: false
      pre_script:
        required: false
      dotenv:
        required: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Add .env variables
        run: |
          (cat <<EOF
          ${{ inputs.dotenv }}
          EOF
          ) >> ${{ inputs.workdir }}/.env

          (cat <<EOF
          ${{ secrets.dotenv }}
          EOF
          ) >> ${{ inputs.workdir }}/.env

          APP_VERSION="${{ inputs.app_version }}"
          if [ -z "$APP_VERSION" ]; then
            if [ "${{ github.ref_type }}" == "tag" ]; then
              APP_VERSION="${{ github.ref_name }}"
            else
              APP_VERSION=$(echo "${{ github.sha }}" | cut -c 1-7)
            fi
          fi

          (cat <<EOF
          REGISTRY_HOST=${{ inputs.registry_host }}
          APP_OWNER=${{ github.repository_owner }}
          APP_NAME=${{ inputs.app_name }}
          APP_VERSION=${APP_VERSION}
          EOF
          ) >> ${{ inputs.workdir }}/.env
          
          if [ "${{ inputs.debug }}" == "true" ]; then
            echo ".env contents:"
            cat ${{ inputs.workdir }}/.env
          fi
      - name: Docker login
        uses: docker/login-action@v3
        if: ${{ inputs.registry_host != '' }}
        with:
          registry: ${{ inputs.registry_host }}
          username: ${{ inputs.registry_user }}
          password: ${{ secrets.registry_password }}
      - name: Run pre-script
        shell: bash
        run: ${{ inputs.pre_script }}
      - name: Run secret pre-script
        shell: bash
        run: ${{ secrets.pre_script }}
      - name: Deploy
        shell: bash
        run: |
          mkdir -p ~/.ssh

          (cat <<EOF
          ${{ secrets.ssh_key }}
          EOF
          ) > ssh_id
          chmod 0600 ssh_id

          eval $(ssh-agent -s)
          ssh-keyscan -H -p ${{ inputs.ssh_port }} ${{ inputs.ssh_host }} > ~/.ssh/known_hosts
          ssh-add ssh_id
          
          cd ${{ inputs.workdir }}
                    
          docker context create remote --docker "host=ssh://${{ inputs.ssh_user }}@${{ inputs.ssh_host }}:${{ inputs.ssh_port }}"
          docker --context remote compose -f ${{ inputs.compose_filename }} up -d --always-recreate-deps --force-recreate
