name: build-react-app
on:
  workflow_call:
    inputs:
      app_name:
        type: string
        default: ${{ github.event.repository.name }}
      dockerfile:
        type: string
        default: .ci/js/Dockerfile
      registry_host:
        type: string
        required: false
      registry_user:
        type: string
        required: false
    secrets:
      registry_password:
        required: false
      dotenv:
        required: false

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4
      - name: Checkout ashep/ci
        uses: actions/checkout@v4
        with:
          repository: ashep/ci
          ref: v1
          path: .ci
      - name: Setup NodeJS
        uses: actions/setup-node@v4
      - name: Build app
        run: |
          if [ ! -d node_modules ]; then npm ci; fi
          echo -e "${{ secrets.dotenv }}" > .env
          npm run build
      - name: Login to Docker registry
        uses: docker/login-action@v3
        with:
          registry: ${{ inputs.registry_host }}
          username: ${{ inputs.registry_user }}
          password: ${{ secrets.registry_password }}
      - name: Build and push Docker image
        uses: ashep/ci/actions/build-image@v1
        with:
          app_name: ${{ inputs.app_name }}
          dockerfile: ${{ inputs.dockerfile }}
          registry_host: ${{ inputs.registry_host }}
          registry_user: ${{ inputs.registry_user }}
